<%= case @meeting do %>
  <% %{page: page, content: content} -> %>
  <a href="<%= page.slug %>" alt="Meeting details">
    <h3>
      <%= fmt_mtg_content(content.event_title) %>
      <small>&#8212;<%= fmt_mtg_content(content.event_sub_heading) %></small>
    </h3>
  </a>
  <ul>
    <li><%= fmt_mtg_content(content.event_time) %></li>
    <li><%= fmt_mtg_content(content.event_day) %></li>
    <li>
      <%= fmt_mtg_content(content.event_location) %>
    </li>
    <li>👉 <a href="<%= page.slug %>" alt="Meeting details">See event details</a></li>
  </ul>
  <p>
    <%= fmt_mtg_content(content.event_description) %>
    <small>
      👉 <a href="<%= page.slug %>" alt="Meeting details">More details</a>
    </small>
  </p>
  <p></p>
  <% nil -> %>
  <p>No meeting planned yet.</p>
<% end %>

