.front-page {
  
  h1 { font-size: 2.0em; }
  
  .description {
    padding-right: 3em;
    h2 {
      padding-top: 1em;
    }
  }
  
  .next-meeting {
    
    padding-left: 2em;
    border-left: 1px dotted $dark-gray;
    
    h2 { font-size: 1.8rem; }
    h3 { font-size: 1.6rem; }

    .next-heading {
      margin-bottom: 1em;
    }
  }
  
  .resource-links {
    border-left: 1px dotted $dark-gray;
    text-align: right;
  }
}
