$off-white: #fbfbfb;
$dark-gray: #474747;
$ellsworth-purple: #553D95;

body {
  background-color: $off-white;
  a {
    color: $ellsworth-purple;
  }
  p {
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
    font-size: 21px;
    color: $dark-gray;
  }
}

main {
  .alert {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}

.app-layout {
  
  header {
    border-bottom: 1px solid #eaeaea;
    font-size: 21px;
    margin-bottom: 4em;
  }

  .header {
    background-color: $ellsworth-purple;
    padding: 0;

    nav {
      font-weight: 100;
      
      li, a {
        color: $off-white;
        font-size: 16px;
      }
    }
  }

  .group-title-container {
    height: 124px;
  }
  .group-title {
    background-color: $off-white;
    min-height: 20px;
    font-size: 40px;
    min-width: 600px;
    font-weight: 100;
    margin-left: 20px;
    padding: 12px 40px 8px;

    small {
      font-weight: 100;
      display: block;
      font-size: 12px;
      color: $dark-gray;
    }
  }

  .home-link {
    color: $dark-gray;
  }
  .home-link:hover {
    text-decoration: none;
  }
}

