$off-white: #fbfbfb;
$dark-gray: #474747;
$ellsworth-purple: #553d95;
$ellsworth-green: #09ae00;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $off-white;
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.45;

  a {
    color: $ellsworth-purple;
  }
  a:hover {
    color: $ellsworth-green;
  }
  p {
    font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua,
      Georgia, serif;
    font-size: 21px;
    color: $dark-gray;
  }
}

main {
  .alert {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
}

.app-layout {
  width: 100%;
  header {
    border-bottom: 1px solid #eaeaea;
    font-size: 21px;
    margin-bottom: 4em;
  }

  .header {
    background-color: $ellsworth-purple;
    padding: 0;

    nav {
      font-weight: 100;
      margin-top: 10px;

      li,
      a {
        color: $off-white;
        font-size: 16px;
      }
    }
  }

  .group-title-container {
    height: 124px;
  }
  .group-title {
    text-align: center;
    background-color: $off-white;
    min-height: 20px;
    font-size: 40px;
    min-width: 375px;
    width: 100%;
    font-weight: 100;
    padding: 12px 40px 8px;

    small {
      font-weight: 100;
      display: block;
      font-size: 12px;
      color: $dark-gray;
    }
  }

  .home-link {
    color: $dark-gray;
  }
  .home-link:hover {
    text-decoration: none;
  }
}

@media only screen and (max-width: 414px) {
  
  .app-layout {
    
    .group-title-container {
      width: 100%;
    }
    
    .group-title {
      font-size: 30px;
      min-width: 375px;
      width: 100%;
    }
    
    .header {
      width: 100%;
    }
  }
}
